@font-face {
      font-family: 'fontello';
      src: url('./fontello/font/fontello.woff');
      src: url('./fontello/font/fontello.woff') format('woff'),
           url('./fontello/font/icon_set_1.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

.reasons_list{
    max-width: 750px;
    margin: 0 auto;
    li {
        list-style-type: none;
        margin-bottom: 15px; 
       }
       ul {
        margin-left: 0; 
        padding-left: 0; 
       }
    P:first-letter {
        -webkit-font-smoothing: antialiased;
        color: #c41c1e;
        font-family: "Lato",Arial,sans-serif;
        font-weight: bold;
        font-size: 150%;
       }
}

.img_container{
    max-height: 313px;
    img{
        object-fit: cover;
        height: 100%; 
        width: 100%;  
    }

}

.tour_list_ul {
    text-align: center;
    li {
        list-style-type: none;
        margin-bottom: 15px; 
       }
       ul {
        margin-left: 0; 
        padding-left: 0; 
       }
}

.tour_form {
    padding-bottom: 0;
    overflow: hidden;
    .form-group {
        margin-top: -10px;
        margin-bottom: 5px;
    }

    iframe{
        width: 235px;
        height: 45px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }
}

.tour_box_style {
    padding-top: 45px;
    height: 295px;
}

