@font-face {
      font-family: 'fontello';
      src: url('./fontello/font/fontello.woff');
      src: url('./fontello/font/fontello.woff') format('woff'),
           url('./fontello/font/icon_set_1.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

// <!-- REASONS TO TAKE A RUSSIAN VACATION IN 2020 -->
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reasons_list{
    .main_title--left{
      text-align: left;  
    }

    width: 90%;
    @media (min-width: 576px) { width: 80%; }

    @media (min-width: 992px) { width: 62%; padding-left: 40px; }

    P:first-letter {
        -webkit-font-smoothing: antialiased;
        color: #c41c1e;
        font-family: "Lato",Arial,sans-serif;
        font-weight: bold;
        font-size: 150%;
       }
}

//////////////////////////////////////////////
.img_container--travel{
    max-height: 313px;
    img{
        object-fit: cover;
        height: 100%; 
        width: 100%;  
    }
}

.img_list--tour {
    min-height: 258px;
}

.tour_list_desc--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 257px;
}

///////////////////////////////////////////////


// <!-- OTHER DESTINATIONS -->
.tour_list--ul {
    text-align: center;
    li {
        list-style-type: none;
        margin-bottom: 15px; 
    }
    ul {
        margin-left: 0; 
        padding-left: 0; 
    }
}


// <!-- FORM -->
.tour_form div.inner {
    @media (max-width:576px) {
        padding: 25px 20px 10px 18px!important;
     }
}

.tour_form {
    padding-bottom: 10px;
    overflow: hidden;
    .form-group {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    button{
        @media (max-width:1199px) {
            margin-top: 10px;
         }
    }
}

///WIDGETS///
.box_style--height270 {
    height: 270px;
}

