.reasons_list{
    max-width: 750px;
    margin: 0 auto;
    li {
        list-style-type: none;
        margin-bottom: 15px; 
       }
       ul {
        margin-left: 0; 
        padding-left: 0; 
       }
    P:first-letter {
        -webkit-font-smoothing: antialiased;
        color: #c41c1e;
        font-family: "Lato",Arial,sans-serif;
        font-weight: bold;
        font-size: 150%;
       }
}

.tour_list_block {
    margin-bottom: 30px;
    background-color: #fff;
    display: block;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    height: 300px;
    position: relative;
    padding: 3px;
    overflow: hidden;

    transition-timing-function: linear;
    transition: .3s;
    img {
        width: 100%;
        object-fit: cover;
        height: 297px;
    }
    .tour_list_desc{
        background-color: #fff;
        padding: 10px 20px;
        position: absolute;
        bottom: -50px;
        width: calc(100% - 3px);
        height: 100px;
        h3{
            font-weight: bold;
        }
        p {
            margin-top: 25px;
            color: black;
        }

    }

    &:hover{

        .tour_list_desc{
            bottom: 0;
            transition-timing-function: linear;
            transition: .3s; 
        }
    }
}

.tour_list_ul {
    text-align: center;
    li {
        list-style-type: none;
        margin-bottom: 15px; 
       }
       ul {
        margin-left: 0; 
        padding-left: 0; 
       }
}

.tour_form {
    padding-bottom: 0;
    .form-group {
        margin-top: -10px;
        margin-bottom: 5px;
    }

    iframe{
        width: 235px;
        height: 45px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }
}

.tour_box_style {
    padding-top: 45px;
    height: 295px;
}

